@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.main-h1 {
    color: red;
}
.trans {
    background: #000;
    width: 100%;
    height: 100vh;
}

/* Home Valley */

.header-container {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  padding: 100px;
 /* background-image: linear-gradient(to left, #266833 , #191A19);*/
background-image: linear-gradient( to right,
  rgba(0, 0, 0, 0.863), 
  rgba(0, 0, 0, 0.164)
), url("./images/5681326.jpg");
 background-position: center;
 background-size: cover;
}
.zone1 {
  width: 420px;
  height: 500px;
}
.zone1 h1 {
  color: #fff;
  font-size: 50px;
}
.zone1 p {
  color: rgb(209, 209, 209);
  margin-top: 2rem;
  line-height: 25px;
  font-size: 18px;
  width: 350px;
}
.zone1 h1 span {
  background: -webkit-linear-gradient(#3ea176, #B2EA70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.zone1 .btn-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width:320px;
}
.zone1 .btn-zone > .btn1 {
  color: #000;
  background-image: linear-gradient(#3ea176, #B2EA70);
  padding: 14px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
 
}
.zone1 .btn-zone > .btn2 {
  color: rgb(255, 255, 255);
  border: 2px solid #3ea176;
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
}
.zone2 {
  width: 100%;
  height: 500px;
  margin-left: 100px;
}



/* Transaction zone */

.transaction-header-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
  }
  .transaction-header-container .base1 {
    width: 100%;
    height: 900px;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(./images/pic1.jpg);
    background-size: cover;
    background-position: center;
  }


  .transaction-header-container .base2 {
    width: 850px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(214, 214, 214, 0.247);
  }
  .phone-ui {
    width: 400px;
    height: 800px;
    border-radius: 50px;
    padding: 20px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #fff;
    overflow-y: scroll;
  }



  .fund-balance , .slide-2, .slide-3{
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.671), 
        rgba(0, 0, 0, 0.671)
      ), url(./images/accbg.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 220px;
    border-radius: 20px;
    padding: 20px;
    /*background: #0b0c10;*/
  }
 
  .fund-balance .ab , .slide-2 .ab, .slide-3 .ab{
    color: rgb(236, 235, 235);
  }
  .fund-balance .amount , .slide-2 .amount, .slide-3 .amount{
    font-size: 27px;
    font-weight: bold;
    margin-top: 0.5rem;
    color: #fff;
  }
  .fund-balance .acc-num , .slide-2 .acc-num , .slide-3 .acc-num  {
    font-size: 12.5px;
    margin-top: 0.5rem;
    color: rgb(236, 235, 235);
  }
  .fund-balance .acc-num .acc-number, .slide-2 .acc-num .acc-number, .slide-3 .acc-num .acc-number {
    font-size: 13.5px;
    margin-left: 3.5px;
    color: #fff;
  }
 
  .fund-balance .add-money , .slide-2 .add-money, .slide-3 .add-money{
    color: rgb(255, 255, 255);
    background:rgba(0, 0, 0, 0.651);
    padding: 12px 22px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #66fcf1;
  }
  .fund-balance .add-money:hover {
    background: #66fcf1;
    color: #000;
    transition: all 500ms;
  }
  .fund-balance .send-money , .slide-2 .send-money, .slide-3 .send-money {
    color: rgb(255, 255, 255);
    background:rgba(0, 0, 0, 0.651);
    padding: 12px 22px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #66fcf1;
  }
  .fund-balance .send-money:hover {
    background: #66fcf1;
    color: #000;
    transition: all 500ms;
  }
  .fund-balance .buttons , .slide-2 .buttons, .slide-3 .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  
  .dot-container {
    width: 250px;
    height: auto;
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dot1 {
    background: #55d4cb54;
    border-radius: 50px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
  }
  .dot2 {
    background: #55d4cb54;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
  }
  .dot2:hover, .dot1:hover {
    background: #48beb7;;
    transition: all 500ms;
  }
  

  /*.slide-container {
    display: flex;
  }*/
  .slide-2, .slide-3 {
    display: none;
  }


  /* music chart */
.musicChartContainer {
 /* border: 2px solid #000;*/
  width: 100%;
  height: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
}
.musicChartContainer .m1 {
  box-shadow: rgba(99, 99, 99, 0.459) 0px 2px 2px 0px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 3.5rem;
}
.musicChartContainer .MC {
  text-align: center;
  font-size: 25px;
  margin-bottom: 2rem;
}
.songImage {
  width: 70px;
  height: 70px;
  background-image:
 url("https://images.genius.com/6a5b031256336b4ea544381f0bb3f407.1000x1000x1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songImage2 {
  width: 70px;
  height: 70px;
  background-image:
 url("https://static.qobuz.com/images/covers/0a/x7/silh4klo1x70a_230.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songImage3 {
  width: 70px;
  height: 70px;
  background-image:
 url("https://i1.sndcdn.com/artworks-lz0U3xvEvuKu2Wzy-1xuoPQ-t500x500.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songImage4 {
  width: 70px;
  height: 70px;
  background-image:
 url("https://upload.wikimedia.org/wikipedia/en/2/27/Wizkid_-_Essence_%28remix%29.png");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songImage5 {
  width: 70px;
  height: 70px;
  background-image:
 url("https://i1.sndcdn.com/artworks-0GpzEbPTmB8yaSEf-tTFDuA-t500x500.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songImage6 {
  width: 70px;
  height: 70px;
  background-image:
 url("https://www1.beatzjam.com/wp-content/uploads/2021/10/Crazy-tinz-img.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songImage7 {
  width: 70px;
  height: 70px;
  background-image:
 url("https://i2.wp.com/www.naijahubies.com/wp-content/uploads/2021/10/TIMAYA-1.jpeg?fit=262%2C300&ssl=1");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songImage8 {
  width: 70px;
  height: 70px;
  background-image:
 url("https://i.ytimg.com/vi/Wp7TTlOubGY/maxresdefault.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songImage9 {
  width: 70px;
  height: 70px;
  background-image:
 url("https://naijafindmp3.com/wp-content/uploads/IMG_20210609_194115.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songImage10 {
  width: 70px;
  height: 70px;
  background-image:
 url("https://i.ytimg.com/vi/22iWvuAqoeQ/maxresdefault.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.songInfo {
  width: 200px;
  height: 70px;
  position:relative;
}
.songTitle {
  width: 100%;
  height: 25px;
  font-weight: 600;
}
.btnsContainer {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playBtn {
  height: auto;
  font-size: 13px;
  text-align: center;
}
.downloadBtn {
  height: auto;
  text-align: center;
  font-size: 13px;
}
.infoBtn {
  height: auto;
  text-align: center;
}

.mainFooter {
  background: #000;
  border-radius: 30px;
  width: 100%;
  height: 100px;
  margin-top: 4rem;
}




/* landing page */
.landingPageContainer {
  width: 100%;
  height: 120vh;
  padding: 0 120px;
  background-image:
  linear-gradient(
    #fff2afa9, 
    #fff2afd5
    ), url(./images/ladingPageImg2.jpg);
  background-position: center;
  background-size: cover;
  /*background: #FFF1AF;*/
}
.navBarContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navBarContainer .logo {
  color: rgb(105, 25, 25);
  height: 50px;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  font-weight: bolder;
    
}
.navBarContainer .loginButton {
  border: none;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  margin-right: 2rem;
  font-weight: bold;
}
.navBarContainer .signUpButton {
  border: none;
  text-decoration: none;
  font-size: 18px;
  padding: 13px 40px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.mainPageContainer {
  width: 100%;
  height: 80vh;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.mainPageContainer .z1 {
  width: 100%;
  height: auto;
  padding-top: 4rem;
}
.mainPageContainer .z2 {
  width: 100%;
  height: 550px;
  
  background-image: url(./images/IMG-20211220-WA0054-removebg-preview.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.mainPageContainer .z3 {
  width: 100%;
  height: 550px;
  border-radius: 200px;
  background-image: url(./images/pic6-removebg-preview.png);
  background-position: center;
  background-size: cover;
  border: 10px solid #AE431E;
  position: relative;
  display: none;
}



.boxText {
  font-size: 15px;
  font-weight: bold;
}
.z1 .p1 {
  font-size: 40px;
  color:rgb(0, 0, 0);
  font-weight: bolder;
  line-height: 60px;
  font-family: 'EB Garamond', serif;
  padding-bottom: 2rem;
}
.z1 .p2 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(48, 48, 48);
  margin-bottom: 4rem;
}
.z1 span {
  background: -webkit-linear-gradient(#db9f27, #9B0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.z1 .signUpButton {
  border: none;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 50px;
  border-radius: 10px;
  background: #AE431E;
  color: rgb(255, 255, 255);
  margin-top: 3rem;
}

.secLineText {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 20px;
  color: rgb(34, 34, 34); 
}
.secLineText .zero {
  margin-right: 0.5rem;
  margin-top: 0.3rem;
} 


/*
.text-pop-up-bottom {
	-webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          position: absolute;
          top: -2rem;
}/* ----------------------------------------------
 * Generated by Animista on 2021-12-26 11:48:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-bottom
 * ----------------------------------------
 */
 /*
@-webkit-keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
*/



.content-slider {
  width: 200px;
}

.slider {
  overflow: visible;
}

.mask {
  overflow: hidden;
  height: 70px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 25px;
  background: -webkit-linear-gradient(#db9f27, #9B0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 15s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
}



/* trans history */

.transactionHistoryone {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  border-radius: 25px;
  display: none;
  padding: 20px;
}
.transactionHistoryone .transMadeContainer {
  display: grid;
  grid-template-columns: 1fr;
}
.transactionHistoryone .transMade {
  width: 100%;
  height: 70px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 0.7fr;
  grid-gap: 15px;
}
.transactionHistoryone .transMade .imgg {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.transactionHistoryone .transMade .transId {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.transactionHistoryone .transMade .transId .ids {
  font-size: 13px;
  font-weight: 900;
}
.transactionHistoryone .transMade .transId .date{
  font-size: 11.5px;
  font-weight: 900;
  color: #999;
}
.transactionHistoryone .transMade .transAmount {
  font-weight: 900;
  color: rgb(0, 0, 0);
  font-size: 11.5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}
.transactionHistoryone .transHeaderr {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transactionHistoryone .transHeaderr p {
  font-weight: bold;
}
.transactionHistoryone .transHeaderr .thp {
  color: rgb(66, 66, 66);
}
.transactionHistoryone .transHeaderr .thp2 {
  border-bottom: 1px solid #000;
}


/* sign up */

.cardi {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 360px;
  padding: 15px;
  border-radius: 12px;
  margin: 6rem auto 0 auto;
}
.sBtn {
  background: #1C7947;
  padding: 10px 0;
  color: #fff;
  border: none;
  border-radius: 7px;
}


/* admin */
.adminComtainer {
  background: #fff;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;

}
.adminComtainer .a1 {
  border-right: 1px solid rgba(175, 175, 175, 0.233);
  width: 130px;
  height: 150vh;
  padding: 20px;
}
.adminComtainer .a1 .adminLogo {
  background: #0016BA;
  text-align: center;
  font-size: 22px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  font-family: 'Emblema One', cursive;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 35px -5px;
}
.adminComtainer .a1 .homeIcon {
  text-align: center;
  margin-top: 3rem;
  cursor: pointer;
  padding: 10px;
}
.adminComtainer .a1 .transactionIcon {
  text-align: center;
  margin-top: 3rem;
  cursor: pointer;
}


/* a2 */
.adminComtainer .a2 {
  width: 100%;
  height: auto;
}
.adminComtainer .a2 .topZone {
  border-bottom: 1px solid rgba(202, 202, 202, 0.281);
  width: 100%;
  height: auto;
  padding: 30px;
}
.adminComtainer .a2 .topZone .userNameAndSearchBar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a2 .topZone .homeBtnMobile{
  display: none;
}

.adminComtainer .a2 .topZone .userNameAndSearchBar .userImgAndName {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a2 .topZone .userNameAndSearchBar .userImgAndName .userImg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url(./images/pic5.jpg);
  background-position: center;
  background-size: cover;
}
.adminComtainer .a2 .topZone .userNameAndSearchBar .userImgAndName .userName {
  width: 280px;
  height: auto;
  font-size: 20px;
  font-weight: bolder;
}
.adminComtainer .a2 .topZone .userEarningAndCard {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a2 .topZone .userEarningAndCard .totalEarning {
  width: 175px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a2 .topZone .userEarningAndCard .totalEarning .totalEarningImg {
  background: #91c483bb;
  padding: 10px;
  border-radius: 10px;
}
.adminComtainer .a2 .topZone .userEarningAndCard .totalEarning .totalEarningHeader{
  font-size: 14px;
  color: #999;
}
.adminComtainer .a2 .topZone .userEarningAndCard .totalEarning .totalEarningNum{
  font-size: 19px;
  font-weight: bolder;
  color: #000;
  margin-top: 0.3rem;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard {
  width: 320px;
  height: auto;
  border-radius: 20px;
  /*background: url("./images/design11-01_generated.jpg");
  background-size: cover;
  background-position: center;*/
  background: #D1913C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .userCardNameAndType {
  /*border: 2px solid rgb(255, 230, 0);*/
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .userCardNameAndType .cName {
  color: rgb(104, 104, 104);
  font-size: 12px;
  font-weight: bold;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .userCardNameAndType .name {
  font-weight: bold;
  font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .userCardNameAndType  .cardType {
  font-family: 'Emblema One', cursive;
  font-size: 25px;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .cardNum {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 15px;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .expAndcvv {
  width: 200px;
  height: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .expAndcvv .exp{
  width: 80px;
  height: auto;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .expAndcvv .exp .expDateHeader{
  color: rgba(87, 87, 87, 0.438);
  font-size: 11.5px;
  font-weight: bold;
  text-transform: uppercase;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .expAndcvv .exp .expDate{
  color: rgb(0, 0, 0);
  font-size: 12.5px;
  font-weight: bolder;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .expAndcvv .cvv{
  width: 100px;
  height: auto;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .expAndcvv .cvv .cvvHeader{
  color: rgba(87, 87, 87, 0.438);
  font-size: 11.5px;
  font-weight: bold;
  text-transform: uppercase;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard .expAndcvv .cvv .cvvNum{
  color: rgb(0, 0, 0);
  font-size: 12.5px;
  font-weight: bolder;
}




.adminComtainer .a2 .topZone .userEarningAndCard .c-Or-d-Btn {
  width: 220px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminComtainer .a2 .topZone .userEarningAndCard .c-Or-d-Btn .userCreditBtn {
  border: none;
  outline: none;
  padding: 10px 40px;
  border-radius: 7px;
  background: #7ECA9C;
}
.adminComtainer .a2 .topZone .userEarningAndCard .c-Or-d-Btn .userCreditBtn:hover {
  background: #63a77e;
  transition: all 500ms;
}
.adminComtainer .a2 .topZone .userEarningAndCard .c-Or-d-Btn .userdebitBtn {
  border: none;
  outline: none;
  padding: 10px 40px;
  border-radius: 7px;
  margin-top: 2rem;
  background: #E6CCA9;
}


/* bottom zone */
.adminComtainer .a2 .bottomZone {
  width: 100%;
  height: auto;
  padding: 30px;
}
.adminComtainer .a2 .bottomZone .allUser{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a2 .bottomZone .allUser .allUserText {
  font-weight: bolder;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(58, 58, 58, 0.637);
  text-transform: uppercase;
}
.adminComtainer .a2 .bottomZone .userSearchBox {
  width: 280px;
  border-radius: 7px 0 0 7px;
  background: rgb(235, 235, 235);
  border: none;
  padding: 8px 15px;
  color: #000;
  outline: none;
}
.adminComtainer .a2 .bottomZone .submitSearchBtn {
 padding: 8px 10px;
 border: none;
 outline: none;
 border-radius: 0 7px 7px 0;
 background: #0024F1;
}
.adminComtainer .a2 .bottomZone .userS {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.adminComtainer .a2 .bottomZone .userS .userProf {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  height: auto;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.adminComtainer .a2 .bottomZone .userS .userProf .usersImg{
  background: url("https://images.pexels.com/photos/1300402/pexels-photo-1300402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 0 auto;
}
.adminComtainer .a2 .bottomZone .userS .userProf .usersName{
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
}
.adminComtainer .a2 .bottomZone .next-or-prev-btn {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.adminComtainer .a2 .bottomZone .next-or-prev-btn .prev-btn {
  cursor: pointer;
}
.adminComtainer .a2 .bottomZone .next-or-prev-btn .next-btn {
  cursor: pointer;
}
.adminComtainer .a2 .bottomZone .adminDescription {
  width: 100%;
  height: auto;
  margin-top: 6rem;
  font-size: 15px;
  color: rgb(122, 122, 122);
  letter-spacing: 1.5px;
}
.adminComtainer .a2 .bottomZone .adminDescription span {
  font-weight: bold;
  text-transform: uppercase;
  color: red;
}



/* a3 */
.adminComtainer .a3 {
  width: 600px;
  height: auto;
  background: #16615b13;
  padding: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
.adminComtainer .a3 .adminName {
  width: 100%;
  height: auto;
  font-weight: bolder;
  font-size: 19px;
  font-family: 'Nunito', sans-serif;
}
.adminComtainer .a3 .cardNbtn {
  position: relative;
  display: flex;
  justify-content: center;
}
.adminComtainer .a3 .adminCard {
  background: #4b00d6;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  margin-top: 4rem;
  background: url(./images/abstract-background-in-blue.jpg);
  background-position: center;
  background-size: cover;
  padding: 15px 20px;
}
.adminComtainer .a3 .adminCard .myPort {
  font-size: 16px;
  color: #fff;
  letter-spacing: 3px;
}
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
.adminComtainer .a3 .adminCard .portAmount {
  font-size: 25px;
  color: #fff;
  margin-top: 1rem;
  font-weight: bolder;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 4px;
}
.adminComtainer .a3 .adminBtnContainer {
  width: 270px;
  height: 70px;
  position: absolute;
  top: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a3 .adminBtnContainer .deposit {
  border: none;
  outline: none;
  background: #fff;
  border-radius: 10px;
  padding: 10px 0;
  color: #000;
  font-size: 15px;
  font-weight: bolder;
  width: 120px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.adminComtainer .a3 .adminBtnContainer .withdraw {
  border: none;
  outline: none;
  background: #fff;
  border-radius: 10px;
  padding: 10px 0;
  color: #000;
  font-size: 15px;
  font-weight: bolder;
  width: 120px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.adminComtainer .a3 .topSongContainer {
  width: 100%;
  height: 230px;
  margin-top: 5rem;
}
.adminComtainer .a3 .topSongContainer .tsText {
  font-weight: 900;
  font-size: 15px;
}
.adminComtainer .a3 .topSongContainer .bb {
  color: rgb(163, 163, 163);
  font-weight: bolder;
}
.adminComtainer .a3 .topSong {
  width: 100%;
  height: 190px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.adminComtainer .a3 .trans {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #fff;
  margin-top: 1rem;
  padding: 20px;
}
.adminComtainer .a3 .transHeader {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}
.adminComtainer .a3 .transHeader .t {
  font-weight: bolder;
}
.adminComtainer .a3 .transHeader .s {
  font-weight: bolder;
  color: #5800FF;
  border-bottom:  2px solid #5800FF;
  padding-bottom: 5px;
}
.adminComtainer .a3 .trans .transMadeContainer {
  display: grid;
  grid-template-columns: 1fr;
}
.adminComtainer .a3 .trans .transMade {
  width: 100%;
  height: 70px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 0.7fr;
  grid-gap: 15px;
}
.adminComtainer .a3 .trans .transMade .imgg {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.adminComtainer .a3 .trans .transMade .transId {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.adminComtainer .a3 .trans .transMade .transId .ids {
  font-size: 13px;
  font-weight: 900;
}
.adminComtainer .a3 .trans .transMade .transId .date{
  font-size: 11.5px;
  font-weight: 900;
  color: #999;
}
.adminComtainer .a3 .trans .transMade .transAmount {
  font-weight: 900;
  color: rgb(0, 0, 0);
  font-size: 11.5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}
.adminComtainer .a3 .trans .transHeaderr {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a3 .trans .transHeaderr p {
  font-weight: bold;
}
.adminComtainer .a3 .trans .transHeaderr .thp {
  color: rgb(66, 66, 66);
}
.adminComtainer .a3 .trans .transHeaderr .thp2 {
  border-bottom: 1px solid #000;
}
























/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sContainer {
    padding: 0 30px;
  }
  .cardi {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    margin: 6rem auto 0 auto;
  }

  .landingPageContainer {
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background: #FFF1AF;
  }
  .navBarContainer .logo {
    color: rgb(105, 25, 25);
    height: 28px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: bolder;
      
  }
  .navBarContainer .loginButton {
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  margin-right: 2rem;
  font-weight: bold;
}
.navBarContainer .signUpButton {
  border: none;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.mainPageContainer {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
.mainPageContainer .z1 {
  width: 100%;
  height: auto;
  padding-top: 0rem;
}
.z1 .p1 {
  font-size: 27px;
  color:rgb(0, 0, 0);
  font-weight: bolder;
  line-height: 40px;
  font-family: 'EB Garamond', serif;
  padding-bottom: 2rem;
}
.secLineText {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 14px;
  color: rgb(100, 100, 100); 
}
.secLineText .zero {
  margin-right: 0rem;
  margin-top: 0.3rem;
} 
.slider .quote {
  font-size: 18px;
  background: -webkit-linear-gradient(#db9f27, #9B0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.content-slider {
  width: 150px;
  padding-left: 0.5rem;
}

.slider {
  overflow: visible;
}

.mask {
  overflow: hidden;
  height: 70px;
}
.z1 .signUpButton {
  border: none;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 50px;
  border-radius: 10px;
  background: #AE431E;
  color: rgb(255, 255, 255);
  margin-top: 0rem;
}

  .mainPageContainer 
  .z2 {
    width: 100%;
    height: 550px;
    border-radius: 200px;
    background-image: url(./images/pic4.jpg);
    background-position: center;
    background-size: cover;
    border: 10px solid #AE431E;
    position: relative;
    display: none;
  }
  .mainPageContainer .z3 {
    width: 100%;
    height: 550px;
    border-radius: 200px;
    background-image: url(./images/pic5.jpg);
    background-position: center;
    background-size: cover;
    border: 10px solid #AE431E;
    position: relative;
    display: none;
  }
  
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:950px) {


  .landingPageContainer {
    width: 100%;
    height: 100vh;
    padding: 10px 40px;
    background: #FFF1AF;
  }
  .navBarContainer .logo {
    color: rgb(105, 25, 25);
    height: 28px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: bolder;
      
  }
  .navBarContainer .loginButton {
  border: none;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  margin-right: 2rem;
  font-weight: bold;
}
.navBarContainer .signUpButton {
  border: none;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 22px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.mainPageContainer {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.mainPageContainer .z1 {
  width: 100%;
  height: auto;
  padding-top: 0rem;
  margin-top: 4rem;
}
.z1 .p1 {
  font-size: 27px;
  color:rgb(0, 0, 0);
  font-weight: bolder;
  line-height: 40px;
  font-family: 'EB Garamond', serif;
  padding-bottom: 2rem;
}
.secLineText {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 14px;
  color: rgb(100, 100, 100); 
}
.secLineText .zero {
  margin-right: 0rem;
  margin-top: 0.3rem;
} 
.slider .quote {
  font-size: 18px;
  background: -webkit-linear-gradient(#db9f27, #9B0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.content-slider {
  width: 150px;
  padding-left: 0.5rem;
}

.slider {
  overflow: visible;
}

.mask {
  overflow: hidden;
  height: 70px;
}
.z1 .signUpButton {
  border: none;
  text-decoration: none;
  font-size: 16px;
  padding: 14px 60px;
  border-radius: 10px;
  background: #AE431E;
  color: rgb(255, 255, 255);
  margin-top: 0rem;
}

  .mainPageContainer 
  .z2 {
    width: 100%;
    height: 550px;
    border-radius: 200px;
    background-image: url(./images/pic4.jpg);
    background-position: center;
    background-size: cover;
    border: 10px solid #AE431E;
    position: relative;
  }
  .mainPageContainer .z3 {
    width: 100%;
    height: 550px;
    border-radius: 200px;
    background-image: url(./images/pic5.jpg);
    background-position: center;
    background-size: cover;
    border: 10px solid #AE431E;
    position: relative;
    display: none;
  }

}

.adminComtainer .a3 .adminNameAndHamburgerMenu .transactionBtnMobile {
  display: none;
}
.adminComtainer .a3 .adminNameAndHamburgerMenu .usersBtnMobile {
  display: none;
}
.adminComtainer .a2 .bottomZone .homeBtnMobile {
  display: none;
}




/* main mobile */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* Transaction zone */

.transaction-header-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .transaction-header-container .base1 {
    width: 100%;
    height: 900px;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(./images/pic1.jpg);
    background-size: cover;
    background-position: center;
    display: none;
  }
  .transaction-header-container .base2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(236, 139, 12);
  }
  .phone-ui {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    padding: 20px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #fff;
  }
  .fund-balance , .slide-2, .slide-3{
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
  }
  .fund-balance .ab , .slide-2 .ab, .slide-3 .ab{
    color: rgb(236, 235, 235);
    font-size: 15px;
  }
  .fund-balance .amount , .slide-2 .amount, .slide-3 .amount{
    font-size: 27px;
    font-weight: bold;
    margin-top: -1rem;
    color: #fff;
  }
  .fund-balance .acc-num , .slide-2 .acc-num , .slide-3 .acc-num  {
    font-size: 12.5px;
    margin-top: -0.5rem;
    color: rgb(236, 235, 235);
  }
  .fund-balance .add-money , .slide-2 .add-money, .slide-3 .add-money{
    padding: 5px 15px;
    font-size: 12px;
  }
  .fund-balance .send-money , .slide-2 .send-money, .slide-3 .send-money {
    padding: 5px 15px;
    font-size: 12px;
  }
}



/* admin mobile device */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* admin */
.adminComtainer {
  background: #fff;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
}
.adminComtainer .a1, .adminComtainer .a2 {
  display: none;
}
.adminComtainer .a3 {
  width: 100%;
  padding: 20px;
}
.adminComtainer .a3 .adminNameAndHamburgerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a3 .adminNameAndHamburgerMenu .adminName {
  font-size: 17px;
  margin-right: 1rem;
}
.adminComtainer .a3 .adminNameAndHamburgerMenu .mobilePageBtn {
  width: 150px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a3 .adminNameAndHamburgerMenu .transactionBtnMobile {
  cursor: pointer;
  display: block;
}
.adminComtainer .a3 .adminNameAndHamburgerMenu .usersBtnMobile {
  cursor: pointer;
  display: block;
}

/* a2 */
.adminComtainer .a2 {
  width: 100%;
  height: auto;
}
.adminComtainer .a2 .topZone {
  display: none;
  padding: 20px;
  border: none;
}
.adminComtainer .a2 .topZone .homeBtnMobile{
  cursor: pointer;
  text-align: right;
  display: block;
}
.adminComtainer .a2 .bottomZone .homeBtnMobile {
  cursor: pointer;
  display: block;
}
.adminComtainer .a2 .topZone .userNameAndSearchBar .userImgAndName {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.adminComtainer .a2 .bottomZone .allUser{
  margin-top: 3rem;
}
/* bottom zone */

.adminComtainer .a2 .bottomZone {
  width: 100%;
  height: auto;
  padding: 20px;
}
.adminComtainer .a2 .bottomZone .userSearchBox {
  width: 180px;
  padding: 8px 15px;
}
.adminComtainer .a2 .bottomZone .allUser .allUserText {
  font-size: 12px;
}
.adminComtainer .a2 .bottomZone .userS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.adminComtainer .a2 .topZone .userNameAndSearchBar .userImgAndName {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminComtainer .a2 .topZone .userNameAndSearchBar .userImgAndName .userName {
  width: 250px;
  font-size: 17px;
}
.adminComtainer .a2 .topZone .userEarningAndCard {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  display: block;
}
.adminComtainer .a2 .topZone .userEarningAndCard .userCard {
  width: 100%;
  height: auto;
  border-radius: 20px;
  /*background: url("./images/design11-01_generated.jpg");
  background-size: cover;
  background-position: center;*/
  background: #D1913C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.adminComtainer .a2 .topZone .userEarningAndCard .c-Or-d-Btn {
  width: 100%;
  height: 200px;
  text-align: center;
}

}




/* userPage mobile */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .userPageContainer {
    width: 100%;
    height: 100vh;
    background: #fff;
  }
  .userPageContainer .header {
    width: 100%;
    height: 100px;
    border-radius: 0 0 25px 25px;
    background: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
  }
  .userPageContainer .userPageProfile {
    width: 100%;
    height: 210px;
    position: relative;
    text-align: center;
  }
  .userPageContainer .userPageProfile .userPageProfileImg {
    border: 20px solid #fff;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    margin: 0 auto;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background: url("https://images.pexels.com/photos/3992656/pexels-photo-3992656.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    top: -2.5rem;
  }
  .userPageContainer .userPageProfile .userPageProfileName {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 5rem;
    font-weight: bold;
  }
  .userPageContainer .userPageProfile .userPageProfileBtn {
    width:280px;
    height: auto;
    position: absolute;
    top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }
  .userPageContainer .userPageProfile .userPageProfileCard {
    border: none;
    outline: none;
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    background: #28FFBF;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  }
  .userPageContainer .userPageProfile .userPageProfileFan {
    border: none;
    outline: none;
    width: 100px;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  }
   .userPageContainer .albumHeader {
     font-weight: bolder;
     margin-top: 2rem;
     padding: 0 20px;
   }
  .userPageContainer .albumContainer {
    border: 2px solid #000;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    padding: 0 20px;
  }
  .userPageContainer .albumContainer .album {
    width: 280px;
    height: auto;
    border-radius: 20px;
    background: rgba( 119, 172, 241, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .userPageContainer .albumContainer .album .albumImg {
    width: 130px;
    height: 140px;
    border-radius: 15px;
    background: url("https://images.pexels.com/photos/3992656/pexels-photo-3992656.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
  }
  .userPageContainer .albumContainer .album .albumNameAndBtns {
    width: 100%;
    height: 140px;
    border: 2px solid #000;
    margin-left: 20px;
  }
  .userPageContainer .albumContainer .album .albumNameAndBtns .albumName {
    width: 100%;
    height: auto;
  }
  .userPageContainer .albumContainer .album .albumNameAndBtns .albumName .name {
   font-weight: bold;
  }
  .userPageContainer .albumContainer .album .albumNameAndBtns .albumName .title {
    font-size: 15px;
    color: #999;
   }
  .userPageContainer .albumContainer .album .albumNameAndBtns .playAndDownloadBtn {
    width: 100%;
    height: 40px;
    border: 2px solid red;
  }
   .userPageContainer .albumContainer .album .albumNameAndBtns .addToChartBtn {
    width: 100%;
    height: 40px;
    border: 2px solid blue;
  }
}

















::-webkit-scrollbar {
  width: 0.4em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(32, 139, 18, 0);
  margin-top: 50px;
  margin-bottom: 50px;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  outline: 1px solid rgba(112, 128, 144, 0);
  border-radius: 50px;
}





